*{
    margin: 0px auto;
    padding: 0px;
}

body{

    
    font-family: 'Raleway', sans-serif;
}

header{

    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: 55px;
}

header img{

    width: 32px;
    height: 32px;
    padding-left: 15px;
}

header p{

display: inline;
font-size: 24px;
color:#5d15d1;
margin: 0px 0px 10px 10px;
}

.fundo{

    width: 100%;
    height: 725px;
    background-image: url(./imgs/bahia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.limita-secao{

    max-width: 1024px;
    height: auto;
    margin: 0px 50px ;
}

.form{

    
    position: relative;
    top:38px;
    margin: 0 90px;
    width: 100%;
    height: auto;
    background-color: #fff;
    
}

.topo-form{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #5d15d1;
    
    }

    .topo-form img{

    position: absolute;
    margin-right: 198px;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    
    }

    .topo-form h2{
    text-align: center;
    position: absolute;
    font-size: 16px;
    color: #fff;
    }

    .conteudo-form{

    width: 100%;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
    }

    .conteudo-form h3{

    font-size: 22px;
    margin-bottom: 24px;
    }



    .conteudo-unico label{

    font-size: 16px;
    padding-bottom: 10px;
    }

    .conteudo-unico input{

    padding-left: 5px;
    width: 95%;
    margin:10px 5px;
    height: 23px;
    }

    .conteudo-duplo{

    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    }

    .conteudo-duplo div{
        
        width: calc(50% - 10px);
    }

    .conteudo-duplo label{

        margin-bottom: 10px;
    }

    .conteudo-duplo input{

        padding: 0 10px ;
        width: 85%;
    }

    .conteudo-duplo-sel{

    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    }
    

    .conteudo-duplo-sel div{
        
        width: calc(50% - 10px);

    }
    .conteudo-duplo-sel label{

        margin-bottom: 10px;
    }

    .conteudo-duplo-sel select{

        padding: 0 3px ;
        width: 90%;
    }

    .select-radio{

        margin-top: 15px;
    }

    .option1{

        margin: 10px 15px;
    }

    .option2{

        margin-left: 45px;
    }

    .check{

        margin: 10px 0;
    }

    .check-option{

        padding-top: 10px;
    }

    .check-option label{

        margin: 0 15px 10px 0;
        
    }

    button{

        margin-top: 25px;
        border-color: #5d15d1;
        width: 22%;
        height: 30px;
        background-color: #5d15d1;
        color: #fff;
        font-weight: 100;
    }

    button:hover{

        font-weight: 700;
        border-color: 1px #5d15d1;
        background-color: #fff;
        color: #5d15d1;
    }

    .ofertas{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 32px auto;
    }

    .ofertas h2{

        font-size: 20px;
        margin-bottom: 10px;
    }

    .ofertas h3{

        font-size: 16px;
        margin-bottom: 15px;
    }

    .ofertas h3 span{

        font-size: 18px;
        color: #5d15d1;
    }
    

    .galeria{

        display: flex;
        width: calc( 50% - 10px);
        height: 375px;
    }

    .galeria .rio{

        position: relative;
        left: -180px;
        width: calc(50% - 10px);
        height: 100%;
    }

    .rio img{

        opacity: 0.6;
        width: 480px;
        height: 100%;
        object-fit: cover;
        
    }

    .rio img:hover{

        opacity: 1.0;
        border: 5px solid #5d15d1;
    }
    
    .miniaturas{

        
        position: relative;
        left: 100px;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 5px;
        gap: 120px;
    }

     .miniaturas div{

        position: relative;
        width: calc( 50% - 10px);
        height: calc(50% - 10px);
    
    }

    .miniaturas img{
        position: relative;
        opacity: 0.6;
        width: 300px;
        height: 180px;
        gap: 20px;
        margin: 0 95px 10px 0;
       
    }

    .miniaturas img:hover{

        border: 5px solid #5d15d1;
        opacity: 1.0;
    }

     figcaption{

        
        font-size: 17px;
        background-color: rgba(0, 0, 0, 50%);
        color: #fff;
    }

    .rio figcaption{

        width: 478px;
        position: absolute;
        top:355px;
    }

    .manaus,
            .rj{

        width: 300px;
        position: absolute;
        top:160px;
    }

    .sp,
        .ma{
        width: 300px;
        position: absolute;
        top:355px;
        
    }

    

    .natureza h2{

        font-size: 20px;
        margin-bottom: 10px;
    }

    .natureza h3{

        font-size: 16px;
        margin-bottom: 15px;
    }

    .natureza h3 span{

        color: #5d15d1;
    }

    .natureza-fotos{

        display: flex;
        justify-content: space-around;
        gap: 60px;
        margin-left: 40px;
        width: 100%;
        height: auto;
    }

    .natureza-fotos figure{
        
        width: calc(50% - 10px);
        height: 100%;
        
        
    }

    .natureza-fotos img{
        margin-left:45px;
        align-items: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .natureza-fotos figcaption{

        color: black;
        margin: 0px 0 0 45px;
        font-size: 16px;
        background-color: #80808029;
        width: 92%;
        padding: 20px;
    }

    figcaption p{

        font-weight: 600;
        margin-top: 10px;
        color: #000;
    }

    figcaption span{

        color: #5d15d1;
    }

    footer{

        width: 100%;
        height: 175px;
        margin-top: 55px;
        background-color: #5d15d1;
        color: #fff;
    }

    .conteudo-rodape{

        display: flex;
        max-width: 1024px;
        
    }

    .icone{

        padding: 7px 0;
    }

    .conteudo-rodape h2{

        font-size: 20px;
        margin: 15px 0;
    }

    .conteudo-rodape img{

        width: 18px;
    }

    .conteudo-rodape img:hover{

        background-color: #000;
    }

    .conteudo-rodape img span{

        font-size: 14px;
        margin-left: 10px;
    }

    .conteudo-rodape span:hover{

        color: #000;
    }

    @media (max-width: 1100px){

        .limita-secao{

            width: 90%;
        }

        .form{

            margin-left: -5px;
        }
    }

    @media (max-width: 768px){

        .form{
            margin: 0 -5px;

        }

        button{

            width: 100%;
        }

        .galeria{

            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .rio{

            height: 225px;
        }

        .galeria .miniaturas{
            position: relative;
            left: -185px;
            width: 100%;
            gap: 0px;
        }

         .galeria img{

            text-align: left;
            margin-top: 25px;
            height: 225px;
            width: 500px;
            object-fit: cover;
        }

        .rio figcaption,
                .manaus,
                        .rj{

            width: 500px;
            position: absolute;
            top:230px;

        }

        .sp,
            .ma{

                width: 500px;
                position: absolute;
                top:495px
            }

        .natureza img{

            margin-left: -30px;
        }

        .natureza-fotos{

            gap: 30px;
        }

        .natureza-fotos figcaption{

            width: 87%;
            margin-left: -30px;
        }

        footer{

            width: 100%;
        }
    }

    @media (max-width: 540px){

        .form{

            position: relative;
            top:8px;
            margin-left: -20px;
        }

        .form .conteudo-duplo{

            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .conteudo-duplo label{

            margin-left: -100px;
            
        }

        .conteudo-duplo input{

            margin: 5px 0 5px -100px;
            width: 370px;

        }

        .form .conteudo-duplo-sel{

            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .conteudo-duplo-sel label{

            margin-left: -100px;
            
        }

        .conteudo-duplo-sel select{

            margin: 5px 0 5px -100px;
            width: 392px;

        }

        .galeria{

            margin-left: 75px;
        }

        .natureza-fotos{

            display: flex;
            flex-direction: column;
        }

        .natureza-fotos img{
            margin-left: -150px;
            width: 400px;
        }

        .natureza-fotos figcaption{

            margin-left: -150px;
            width: 359px;
        }
    }